body {
    background-color: #212121;
    padding: 0;
    margin: 0;
}

div, img {
    position: absolute;
    box-sizing: border-box;
}

#loading_overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #212121;
    font-family: "Barlow Semi Condensed";
    font-size: 25px;
    color: white;
    z-index: 9999;
}

#game_container {
    width: 1024px;
    height: 768px;
    left: -100%;
    right: -100%;
    margin-left: auto;
    margin-right: auto;
    top: -100%;
    bottom: -100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #514939;
    overflow: hidden;
    border: 1px solid #877062;
    border-radius: 7px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#canvas_container {
    width: 800px;
    height: 600px;
    left: 0;
    top: 100px;
}

#hud_container {
    width: 800px;
    height: 100px;
    bottom: 0;
    top: auto;
}

#hud {
    left: -100%;
    right: -100%;
    margin-left: auto;
    margin-right: auto;
    top: -16;
}

#bar {
    width: 600px;
    height: 25px;
    top: 21px;
    left: -100%;
    right: -100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2d2d2d;
}

#hp_bar {
    width: 270px;
    height: 25px;
    background-color: #ff0000;
    top: 0;
    left: 0;
    transform-origin: 100% 50%;
}

#mp_bar {
    width: 270px;
    height: 25px;
    background-color: #006aa3;
    top: 0;
    left: auto;
    right: 0;
    transform-origin: 0% 50%;
}

#xp_bar {
    width: 80px;
    height: 80px;
    left: -100%;
    right: -100%;
    margin-left: auto;
    margin-right: auto;
    top: -5px;
    transform: rotate(-90deg);
}

#player_level {
    left: -100%;
    right: -100%;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 20px;
    color: #ffff00;
    text-align: center;
    top: 26px;
    font-weight: bold;
}

#dialog_container {
    width: 600px;
    height: 400px;
    left: 100px;
    top: -100%;
    bottom: -100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    border: 2px solid #b58659;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    will-change: transform;
}

#dialog_message {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 60px;
    font-family: "Barlow Semi Condensed";
    font-size: 18px;
    overflow-y: auto;
    color: #ffffff;
}

.dialog_btn {
    position: absolute;
    width: 150px;
    height: 38px;
    top: auto;
    bottom: 20px;
    background-image: url(data/ui/btn_normal.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "Barlow Semi Condensed";
    font-size: 14px;
    text-align: center;
    color: white;
    padding-top: 10px;
    cursor: pointer;
    transition: background 0.1s;
}

.dialog_btn:hover {
    background-image: url(data/ui/btn_hover.png);
}

#dialog_btn_reply1 {
    left: 20px;
    visibility: hidden;
}

#dialog_btn_quit {
    left: auto;
    right: 20px;
}

#right_container {
    width: 224px;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
}

#player_xp {
    left: auto;
    right: 450px;
    width: 100%;
    height: 20px;
    color: #ffff00;
    top: 60px;
    font-family: "Barlow Semi Condensed";
    font-weight: bold;
    text-align: right;
}
